# OpenWeatherMap API Key
# Sign up for a free key at: https://home.openweathermap.org/users/sign_up
# Once obtained, rename this file to `.env` or set your key in the dashboard UI
VITE_OPENWEATHER_API_KEY=
